* { 
    box-sizing: border-box;
}

body {
    background: rgb(204,204,204); 
    font-family: sans-serif;
    font-size: 8px;
}

page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@media print {
    body, page[size="A4"] {
        margin: 0;
        box-shadow: 0;
        -webkit-print-color-adjust: exact;
    }
}

.page-border {
    padding: 10.5mm;
}

.page-border:after {
  content:"";
  display:table;
  clear:both;
}

.container {
    float:left;
    padding: 0;
}
.container:after {
  content:"";
  display:table;
  clear:both;
}

/* TEXT */
h1, h2, h3 {
    margin: 0;
}

h1 {
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 16px;
}
h3 {
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 14px;
}
p {
	font-size: 8px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 14px;
}
blockquote {
	font-size: 8px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 10px;
}
pre {
	font-size: 8px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 8px;
    margin: 0;
}

.transparent {
   background: none !important;
}

.block {
    padding: 2px;
}

.pull-left
{
    float: left;
}

.nofloat {
    float: none !important;
}

.block > pre {
    border: 2px solid #ccc;
    padding: 0;
}

.block > h3 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.block > pre, 
.block > p 
{
    line-height: 10px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 2px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

ul {
    margin: 0;
    padding-left: 15px;
}

dl {
    margin-top: 0;
    padding: 0;
}
dt {
    font-weight: bold;
    color: green;
}
dt:after {
    content: ":";
}
dd {
    margin: 0;
    padding: 0 0 0.5em 10px;
}

dd:nth-of-type(odd) { 
    background: #eee; 
}
dt:nth-of-type(odd) { 
    background: #eee; 
}

.hidden {
    display: none;
}

.col0  { width: 0mm; }
.col1  { width: 10.5mm; }
.col2  { width: 21mm; }
.col3  { width: 31.5mm; }
.col4  { width: 42mm; }
.col5  { width: 52.5mm; }
.col6  { width: 63mm; }
.col7  { width: 73.5mm; }
.col8  { width: 84mm; }
.col9  { width: 94.5mm; }
.col10 { width: 105mm; }
.col11 { width: 115.5mm; }
.col12 { width: 126mm; }
.col13 { width: 136.5mm; }
.col14 { width: 147mm; }
.col15 { width: 157.5mm; }
.col16 { width: 168mm; }
.col17 { width: 178.5mm; }
.col18 { width: 189mm; }
.col19 { width: 199.5mm; }
.col20 { width: 210mm; }


.row0  { height: 0mm; }
.row1  { height: 13.5mm; }
.row2  { height: 27mm; }
.row3  { height: 40.5mm; }
.row4  { height: 54mm; }
.row5  { height: 67.5mm; }
.row6  { height: 81mm; }
.row7  { height: 94.5mm; }
.row8  { height: 108mm; }
.row9  { height: 121.5mm; }
.row10 { height: 135mm; }
.row11 { height: 148.5mm; }
.row12 { height: 162mm; }
.row13 { height: 175.5mm; }
.row14 { height: 189mm; }
.row15 { height: 202.5mm; }
.row16 { height: 216mm; }
.row17 { height: 229.5mm; }
.row18 { height: 243mm; }
.row19 { height: 256.5mm; }
.row20 { height: 270mm; }
.row21 { height: 283.5mm; }
.row22 { height: 297mm; }



.content {
    display: block;
}

.content:after {
  content:"";
  display:table;
  clear:both;
}
.pull-right {
    float: right;
}
